<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>周年庆--数据回放</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=0.5,maximum-scale=2.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/h5static/second/css/swiper.min.css' />
	<link rel='stylesheet' href='/h5static/second/css/animate.min.css' />
	<link rel='stylesheet' href='/h5static/second/css/second.css' />
	<script src="/h5static/second/js/flexible.js"></script>
	<script src="/h5static/second/js/countUp.min.js"></script>
	<script src="/h5static/second/js/zepto.min.js"></script>
	<script src="/h5static/second/js/swiper.jquery.min.js"></script>
</head>
<body>
	<!-- 
		总共6页：
		a、加载动画（css3动画显示隐藏）、滑屏切换（swiper）、统计图动画（chartjs）、数字动画(countUp)、字体闪烁(css3)、整体进入页面的效果一样的
		b、dom做细，增加实施效果的余地
		1、总概述
		2、投资最大笔
		3、最爱投资的标
		4、邀请好友
		5、最高收益
		6、累计总投资
	 -->
	<div class="two-year-memory">
		<div class="u-loading"></div>
		<div class="u-arrowDown"></div>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="m-slider swiper-slide" style="background-color: #F75FFF;">
					<p class="animated" data-amt="">1</p>
					<div class="animated u-string l2r" data-amt="l2r">测试线头移入</div>
					<div class="animated u-screen flipInY" data-amt="flipInY">测试折叠效果</div>
				</div>
				<div class="m-slider swiper-slide" style="background-color: #4D71E3;">
					<div class="animated bg-dot" data-amt="scale2show">
						<div class="u-dot" style="left: 50%;top: 10%;width: 0.3rem;height: 0.3rem;background-color: #E91187;"></div>
						<div class="u-dot" style="left: 80%;top: 15%;width: 0.6rem;height: 0.2rem;background-color: #6220D6;"></div>
						<div class="u-dot" style="left: 10%;top: 20%;width: 0.5rem;height: 0.5rem;background-color: #2B42CE;"></div>
						<div class="u-dot" style="left: 43%;top: 60%;width: 0.1rem;height: 0.1rem;background-color: #60E1F8;"></div>
						<div class="u-dot" style="left: 67%;top: 75%;width: 0.3rem;height: 0.8rem;background-color: #34FC27;"></div>
						<div class="u-dot" style="left: 23%;top: 67%;width: 0.9rem;height: 0.9rem;background-color: #E2F119;"></div>
					</div>
				</div>
				<div class="m-slider swiper-slide" style="background-color: #2E0EF0;">
					<div class="u-bulb"></div>
				</div>
				<div class="m-slider swiper-slide" style="background-color: #24F67D;">4</div>
				<div class="m-slider swiper-slide" style="background-color: #F4FF5F;">5</div>
				<div class="m-slider swiper-slide" style="background-color: #F56615;">6</div>
			</div>
		</div>
	</div>
	<script>
		//加载swiper
		var mySwiper = new Swiper('.swiper-container', {
			direction: 'vertical',
			autoplay: 0,//可选选项，自动滑动
			onSlideChangeStart:function(swiper){//开始
				//mySwiper.disableTouchControl();
			},
			onSlideChangeEnd:function(swiper){//结束
				addAmt();
			}
		});
		//请求后端数据
		function getData(){};
		//下滑添加动画
		function addAmt(){
			var imgAmt = $('.swiper-slide-active').find('.animated'),
				otherImgamt = $('.swiper-slide-active').siblings().find('.animated');
			for(var i = 0;i<imgAmt.length;i++){
				imgAmt.eq(i).attr('data-amt');//获取动画名
				imgAmt.eq(i).addClass(imgAmt.eq(i).attr('data-amt'));
			}
			// otherImgamt.each(function(){
			// 	$(this).removeClass($(this).attr('data-amt'));
			// });
			if(mySwiper.activeIndex==3){//最后一张，隐藏箭头
				$('.u-arrowDown').hide();
			}else{
				$('.u-arrowDown').show();
			}
			mySwiper.enableTouchControl();
		};
	</script>
</body>
</html>