<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>嘘嘘的小站</title>
	<link rel='stylesheet' href='/bootstraps/css/bootstrap.min.css'/>
	<link rel='stylesheet' href='/bootstraps/css/bootstrap-theme.min.css'/>
	<script src="https://cdn.bootcss.com/jquery/1.12.3/jquery.js"></script>
	<script src="/bootstraps/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		bootstrap测试
	</div>
</body>
</html>