<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>嘘嘘的小站</title>
	<link rel='stylesheet' href='/bootstraps/css/bootstrap.min.css'/>
	<link rel='stylesheet' href='/bootstraps/css/bootstrap-theme.min.css'/>
	<link rel='stylesheet' href='/stylesheets/diy-bs.css'/>
	<script src="https://cdn.bootcss.com/jquery/1.12.3/jquery.js"></script>
	<script src="/bootstraps/js/bootstrap.min.js"></script>
	<script src="/javascripts/underscore-min.js"></script>
	<script src='/javascripts/util.js'></script>
</head>
<body>
	<div class="xx-page-index">
		<div class="jumbotron xx-header">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<h1>欢迎</h1>
						<p>林文书的主页</p>
					</div>
					<div class="col-xs-8 col-sm-6 col-md-2 thumbnail xx-portrait">
						<img src="/images/yellower.jpg" class="img-responsive" alt="">
					</div>
				</div>
			</div>
	  	</div>
	  	<div class="container-fluid xx-img-container">
  			<h1>My photography</br><small>没事儿喜欢按快门</small></h1>
  			<ul class="xx-img-list row">
  				<li class="col-xs-12 col-sm-6 col-md-3" style="background-image: url(/images/gallery/Japan.jpg);">
  					<div class="xx-u-panel"><p>日本</p></div>
  				</li>
  				<li class="col-xs-12 col-sm-6 col-md-3" style="background-image: url(/images/gallery/starbuck.jpg);">
  					<div class="xx-u-panel"><p>杭州</p></div>
  				</li>
  				<li class="col-xs-12 col-sm-6 col-md-3">
  					<img src="/images/yellower.jpg" class="img-responsive" alt="">
  					<div class="xx-u-panel"><p>舟山</p></div>
  				</li>
  				<li class="col-xs-12 col-sm-6 col-md-3">
  					<img src="/images/yellower.jpg" class="img-responsive" alt="">
  					<div class="xx-u-panel"><p>日本</p></div>
  				</li>
  				<li class="col-xs-12 col-sm-6 col-md-3">
  					<img src="/images/yellower.jpg" class="img-responsive" alt="">
  					<div class="xx-u-panel"><p>日本</p></div>
  				</li>
  				<li class="col-xs-12 col-sm-6 col-md-3">
  					<img src="/images/yellower.jpg" class="img-responsive" alt="">
  					<div class="xx-u-panel"><p>日本</p></div>
  				</li>
  				<li class="col-xs-12 col-sm-6 col-md-3">
  					<img src="/images/yellower.jpg" class="img-responsive" alt="">
  					<div class="xx-u-panel"><p>日本</p></div>
  				</li>
  				<li class="col-xs-12 col-sm-6 col-md-3">
  					<img src="/images/yellower.jpg" class="img-responsive" alt="">
  					<div class="xx-u-panel"><p>日本</p></div>
  				</li>
  			</ul>
  		</div>
  		<div class="container xx-blog-container">
  			<h1>我的博客</br><small> 记录自己的进步</small></h1>
  			<ul class="xx-blog-list row" id="J_blog">
  				<li class="col-xs-12 col-sm-6 col-md-4">
  					<a href="javascript:;">文章一</a>
  					<div>文章简介文章简介文章简介</div>
  					<span>2018-1-19</span>
  				</li>
  				<li class="col-xs-12 col-sm-6 col-md-4">
  					<a href="javascript:;">文章二</a>
  					<div>文章简介文章简介文章简介</div>
  					<span>2018-1-19</span>
  				</li>
  				<li class="col-xs-12 col-sm-6 col-md-4">
  					<a href="javascript:;">文章三</a>
  					<div>文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介</div>
  					<span>2018-1-19</span>
  				</li>
  			</ul>
  		</div>
	  	<% include ./footer%>
	</div>
	<!-- 
		一、页头：简介、导航
		二、主体两个模块：1、照片，2、blog
		三、页脚：联系方式、公众号地址、git地址
	 -->
	 <script type="text/template" id="tpl_blog">
	 	<#for(var i = 0;i<data.length;i++){#>
			<li class="col-xs-12 col-sm-6 col-md-4">
				<a href="/blog/detail?id=<#=data[i].aid#>"><#= data[i].title #></a>
				<div><#= data[i].brief #>...<a href="/blog/detail?id=<#=data[i].aid#>">[阅读全文]</a></div>
				<span><#= Utils.timeFormat(data[i].time)#></span>
			</li>
	 	<#}#>
	 </script>
	 <script>
	 	$(function(){
	 		$('.xx-img-list>li').hover(function(){
	 			console.log($(this));
	 			$(this).find('div.xx-u-panel').css({'height':'190px'});
	 		},function(){
	 			$(this).find('div.xx-u-panel').css({'height':'0'});
	 		});
	 		getList(1,3);
	 	});
	 	//请求文章数据
	 	function getList(cur, ps, sch){
	 		$.ajax({
	 			url:'/ajax/getList',
	 			type:'GET',
	 			dataType:'JSON',
	 			data:{curPage: cur,pageSize: ps,schWord:sch,from:'front'},
	 			success:function(rslt){
	 				if(rslt.res_code==2){
	 					$('#J_blog').html(rslt.res_msg);
	 				}else{
	 					var html = $('#tpl_blog').html();
	 					_.templateSettings = {	//避免前端模板被ejs语法解析
	 						evaluate    : /<#([\s\S]+?)#>/g,
	 					    interpolate : /<#=([\s\S]+?)#>/g,
	 					    escape      : /<#-([\s\S]+?)#>/g
	 					};
	 					var template = _.template(html);
	 					var tpl = template({data:rslt.dataList});
	 					$('#J_blog').html(tpl);
	 				}
	 			},
	 			error:function(rslt){}
	 		})
	 	};
	 </script>
</body>
</html>