<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/stylesheets/index.css">
	<link rel="stylesheet" href="/stylesheets/anim.css">
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/index.js"></script>
</head>
<body>
	<div class="g-bd">
		<div class="u-nav" id="JS_nav">
			<ul>
				<li><a href="/">主页</a></li>
				<li><a href="/h5Demo" target="_blank">H5</a></li>
				<li><a href="/blog" target="_blank">blog</a></li>
				<li><a href="/gallery" target="_blank">摄影</a></li>
			</ul>
		</div>
		<div class="m-banner">
			<div class="u-welcome">
				<h1>linwens的主页</h1>
			</div>
			<ul id="JS_parallax"></ul>
		</div>
		<div class="m-discribe">
			<p>每个人一天的时间都是一样的</p>
		</div>
		<div class="m-myInterest">
			<ul class="m-ct">
				<li class="m-h5demo">
					<a href="/h5Demo" target="_blank">h5Demo</a>
					<div class="u-moon"></div>
					<div class="u-moon ripple" style="animation-delay: 0s;"></div>
					<div class="u-moon ripple" style="animation-delay: 2s;"></div>
					<div class="u-moon ripple" style="animation-delay: 4s;"></div>
					<div class="m-crossing">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</li>
				<li class="m-blog">
					<a href="/blog" target="_blank">blog</a>
					<i class="img-wheel rotateLoop"></i>
				</li>
				<li class="m-myGallery">
					<a href="/gallery" target="_blank">myGallery</a>
					<i class="u-bulb"></i>
					<i class="u-shade"></i>
					<img src="/images/shadow.png" alt="" class="u-shadow">
				</li>
			</ul>
		</div>
		<div class="m-contect">
			<ul>
				<li style="text-align: left;">我的邮箱：lws200841001@163.com</li>
				<li style="text-align: right;">我的地址：杭州市</li>
			</ul>
		</div>
	</div>
</body>
</html>