/*轮播样式*/
.banner-box {
  position: relative;
  width: 100%;
  /*max-width:1920px*/
  /*min-width:1080px*/
  height: 400px;
  overflow: hidden;
}
.banner-box .slideCont {
  position: absolute;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.banner-box .slideCont .slider {
  width: 912px;
  height: 400px;
  float: left;
}
.banner-box .slideCont .slider > a {
  display: block;
  width: 100%;
  height: 400px;
}
/*轮播小圆点样式*/
#wrap {
  position: absolute;
  width: 100%;
  z-index: 10;
  bottom: 5%;
  text-align: center;
}
#wrap ul {
  display: inline-block;
  overflow: hidden;
}
#wrap ul li {
  float: left;
  margin: 0 7px;
}
#wrap a.sldNav {
  display: block;
  width: 27px;
  height: 4px;
  background-color: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#wrap .onNav a.sldNav {
  background-color: #ff4646;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
/*颜色*/
/*路径*/
.g-bd .u-nav {
  position: fixed;
  top: -60px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.g-bd .u-nav ul {
  display: flex;
  justify-content: left;
  width: 1080px;
  margin: 0 auto;
}
.g-bd .u-nav ul li {
  height: 60px;
  line-height: 60px;
  width: 120px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.g-bd .u-nav ul li a{
  color: #fff;
}
.g-bd .u-nav ul li.active {
  background: #F5F464;
}
.g-bd .m-banner {
  width: 100%;
    min-width: 1080px;
  height: 750px;
  background: #8CBEE7;
  overflow: hidden;
  color: #fff;
}
.g-bd .m-banner .u-welcome {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -280px;
  z-index: 10;
}
.g-bd .m-banner .u-welcome h1 {
  font-size: 60px;
  text-align: center;
}
.g-bd .m-banner .u-welcome p {
  font-size: 20px;
  text-align: center;
}
// .g-bd .m-banner #JS_parallax {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 754px;
//   background: #8CBEE7;
//   overflow: hidden;
// }
// .g-bd .m-banner #JS_parallax li {
//   position: absolute;
//   -webkit-transition: all 0.6s ease-out;
//   -o-transition: all 0.6s ease-out;
//   transition: all 0.6s ease-out;
// }
// .g-bd .m-banner #JS_parallax div {
//   width: 100%;
// }
// .g-bd .m-banner #JS_parallax div img {
//   width: 100%;
// }
.g-bd .m-discribe {
  width: 100%;
}
.g-bd .m-discribe p {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  color: #aaa;
}
.g-bd .m-myInterest {
  width: 100%;
  min-width: 1080px;
  margin: 20px 0;
}
.g-bd .m-myInterest ul.m-ct {
  display: flex;
  justify-content: space-between;
  width: 1080px;
  margin: 0 auto;
}
.g-bd .m-myInterest ul.m-ct li {
  position: relative;
  width: 300px;
  height: 500px;
  line-height: 60px;
  background: #7BFDEF;
  text-align: center;
}
.g-bd .m-myInterest ul.m-ct li>a{
  position: absolute;
  top:0;
  left:0;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.g-bd .m-myInterest ul.m-ct li.m-h5demo {
  position: relative;
  overflow: hidden;
  background: url('/images/index_s1_bg.jpg') no-repeat center;
  background-size: 100% 100%;
}
.g-bd .m-myInterest ul.m-ct li.m-h5demo>a {
    color: #1a4e4a;
}
.g-bd .m-myInterest ul.m-ct li.m-h5demo div.u-moon {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}
.g-bd .m-myInterest ul.m-ct li.m-h5demo div.m-crossing {
  position: absolute;
  bottom: -128px;
  left: 0;
  width: 100%;
  height: 509px;
  overflow: hidden;
  transform: rotateX(60deg);
}
.g-bd .m-myInterest ul.m-ct li.m-h5demo div.m-crossing > div {
  width: 6px;
  margin: 20px 0 20px 162px;
  background: #fff;
  animation: crossing 5s infinite linear both;
}
.g-bd .m-myInterest ul.m-ct li.m-h5demo div.m-crossing > div:nth-child(1) {
  height: 60px;
}
.g-bd .m-myInterest ul.m-ct li.m-h5demo div.m-crossing > div:nth-child(2) {
  height: 60px;
}
.g-bd .m-myInterest ul.m-ct li.m-h5demo div.m-crossing > div:nth-child(3) {
  height: 60px;
}
.g-bd .m-myInterest ul.m-ct li.m-h5demo div.m-crossing > div:nth-child(4) {
  height: 60px;
}
.g-bd .m-myInterest ul.m-ct li.m-h5demo div.m-crossing > div:nth-child(5) {
  height: 60px;
}
.g-bd .m-myInterest ul.m-ct li.m-h5demo div.m-crossing > div:nth-child(6) {
  height: 60px;
}
.g-bd .m-myInterest ul.m-ct li.m-h5demo div.m-crossing > div:nth-child(7) {
  height: 60px;
}
.g-bd .m-myInterest ul.m-ct li.m-h5demo div.m-crossing > div:nth-child(8) {
  height: 60px;
}
.g-bd .m-myInterest ul.m-ct li.m-blog {
  position: relative;
  background: url('/images/index_s2_bg.jpg') no-repeat center;
  background-size: 100% 100%;
}
.g-bd .m-myInterest ul.m-ct li.m-blog>a{
  color:#75b5ce;
}
.g-bd .m-myInterest ul.m-ct li.m-blog .img-wheel {
  position: absolute;
  top: 280px;
  left: -3px;
  width: 178px;
  height: 170px;
  background: url('/images/index_s2_wheel.png') no-repeat center;
  background-size: 100% 100%;
}
.g-bd .m-myInterest ul.m-ct li.m-myGallery {
  position: relative;
  background: url('/images/index_s3_bg.jpg') no-repeat center;
  background-size: 100% 100%;
  transition: all 0.2s linear;
}
.g-bd .m-myInterest ul.m-ct li.m-myGallery>a{
  color:#fff;
}
.g-bd .m-myInterest ul.m-ct li.m-myGallery .u-bulb {
  position: absolute;
  top: 313px;
  left: 175px;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  background: #b99eff;
}
.g-bd .m-myInterest ul.m-ct li.m-myGallery .u-shade {
  position: absolute;
  top: 294px;
  left: 179px;
  z-index: 9;
  width: 22px;
  height: 47px;
  border-radius: 0 30px 30px 0;
  background: #927840;
  transform: rotate(-32deg);
}
.g-bd .m-myInterest ul.m-ct li.m-myGallery .u-shadow {
  position: absolute;
  top: 303px;
  left: 64px;
  width: 51%;
  height: 39%;
  display: none;
}
.g-bd .m-myInterest ul.m-ct li.m-myGallery:hover .u-bulb {
  background: #d1a649;
  box-shadow: 0 0 30px 10px #d1a649;
}
.g-bd .m-myInterest ul.m-ct li.m-myGallery:hover .u-shadow {
  display: block;
}
.g-bd .m-contect {
  min-width: 1080px;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  background: #8CBEE7;
  font-size: 20px;
  color: #fff;
}
.g-bd .m-contect ul {
  width: 1080px;
  margin: 0 auto;
}
.g-bd .m-contect ul li {
  width: 50%;
  float: left;
  text-align: center;
}
