/*轮播样式*/
.banner-box {
  position: relative;
  width: 100%;
  /*max-width:1920px*/
  /*min-width:1200px*/
  height: 400px;
  overflow: hidden;
}
.banner-box .slideCont {
  position: absolute;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.banner-box .slideCont .slider {
  width: 912px;
  height: 400px;
  float: left;
}
.banner-box .slideCont .slider > a {
  display: block;
  width: 100%;
  height: 400px;
}
/*轮播小圆点样式*/
#wrap {
  position: absolute;
  width: 100%;
  z-index: 10;
  bottom: 5%;
  text-align: center;
}
#wrap ul {
  display: inline-block;
  overflow: hidden;
}
#wrap ul li {
  float: left;
  margin: 0 7px;
}
#wrap a.sldNav {
  display: block;
  width: 27px;
  height: 4px;
  background-color: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#wrap .onNav a.sldNav {
  background-color: #ff4646;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
/*颜色*/
/*路径*/
/*左侧栏*/
.cm-left {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -600px;
  width: 288px;
  background: url('../img/sideBg.jpg') center top no-repeat;
}
.cm-left .m-admin {
  text-align: center;
  padding: 40px 0 50px;
}
.cm-left .m-admin .u-pic {
  width: 172px;
  height: 172px;
  border: 4px solid #ea2e49;
  border-radius: 50%;
  margin: 0 auto;
}
.cm-left .m-admin .u-name {
  font-size: 35px;
  color: #fff;
}
.cm-left .m-admin .u-intro {
  font-size: 13px;
  color: #92949c;
}
.cm-left .m-nav {
  text-align: center;
}
.cm-left .m-nav li {
  height: 57px;
  line-height: 57px;
  font-size: 20px;
  color: #92949c;
}
.cm-left .m-nav li:hover,
.cm-left .m-nav li.u-cur {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: #ea2e49;
  color: #fff;
}
/*右侧内容*/
.m-cont {
  width: 912px;
  margin-left: 288px;
}
.m-cont .m-introduce {
  width: 100%;
}
.m-cont .m-introduce .u-aboutme {
  text-align: center;
  font-size: 36px;
  color: #66635e;
}
.m-cont .m-introduce ul {
  color: #fff;
}
.m-cont .m-introduce ul li {
  width: 80%;
  height: 100px;
  line-height: 100px;
  padding: 0 10%;
  overflow: hidden;
}
.m-cont .m-introduce ul li .u-tt {
  float: left;
  font-size: 30px;
}
.m-cont .m-introduce ul li .u-ct {
  float: right;
  font-size: 18px;
}
.m-cont .m-introduce ul li.u-skills {
  background: #0288d1;
}
.m-cont .m-introduce ul li.u-hobby {
  background: #00e676;
}
.m-cont .m-project {
  background: #fff;
  text-align: center;
  overflow: hidden;
}
.m-cont .m-project h2 {
  margin: 20px 0;
  font-size: 36px;
  color: #66635e;
}
.m-cont .m-project ul {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
}
.m-cont .m-project ul li {
  float: left;
  margin-right: 50px;
}
.m-cont .m-project ul li a {
  display: block;
  width: 240px;
  height: 100px;
  background: #92949c;
}
.m-cont .m-experience {
  background: #ff3d4e;
}
.m-cont .m-experience > div {
  position: relative;
  height: 300px;
}
.m-cont .m-experience > div .u-jobtime {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 130px;
  height: 30px;
  line-height: 30px;
  margin-left: -220px;
  border: 1px solid #000;
  background: #92949c;
  text-align: center;
}
.m-cont .m-experience > div .u-disc {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 130px;
  height: 30px;
  line-height: 30px;
  margin-left: 50px;
}
.m-cont .m-experience > div .u-disc .u-compamy {
  width: 80px;
  border: 1px solid #000;
  background: #92949c;
  text-align: center;
  font-size: 20px;
}
.m-cont .m-experience > div .u-disc .u-txt {
  width: 200px;
}
