<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/h5demo.css' />
	<script src='/javascripts/jquery.js'></script>
</head>
<body>
	<div class="h5-hd"></div>
	<div class="h5-bd">
		<ul class="h5-list">
			<li class="list-item">
				<div class="it-ct" style="background:#21B3FC;">
					<a href="javascript:;"></a>
					<p class="it-desc">作品描述</p>
				</div>
			</li>
			<li class="list-item">
				<div class="it-ct" style="background:#21B3FC;">
					<a href="javascript:;"></a>
					<p class="it-desc">作品描述作品描述作品描述作品描述</p>
				</div>
			</li>
			<li class="list-item">
				<div class="it-ct" style="background:#21B3FC;">
					<a href="javascript:;"></a>
					<p class="it-desc">作品描述</p>
				</div>
			</li>
			<li class="list-item">
				<div class="it-ct" style="background:#21B3FC;">
					<a href="javascript:;"></a>
					<p class="it-desc">作品描述</p>
				</div>
			</li>
			<li class="list-item">
				<div class="it-ct" style="background:#21B3FC;">
					<a href="javascript:;"></a>
					<p class="it-desc">作品描述作品描述作品描述作品描述作品描述作品描述作品描述作品描述作品描述作品描述</p>
				</div>
			</li>
			<li class="list-item">
				<div class="it-ct" style="background:#21B3FC;">
					<a href="javascript:;"></a>
					<p class="it-desc">作品描述</p>
				</div>
			</li>
		</ul>
		<!-- <div class="h5-page"></div> -->
	</div>
	<div class="h5-ft">
		<p>做着玩</p>
	</div>
</body>
</html>