<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>嘘嘘的blog</title>
	<link rel='stylesheet' href='/bootstraps/css/bootstrap.min.css'/>
	<link rel='stylesheet' href='/bootstraps/css/bootstrap-theme.min.css'/>
	<link rel='stylesheet' href='/stylesheets/diy-bs.css'/>
	<link rel='stylesheet' href='/iconfont/iconfont.css'/>
	<script src="/iconfont/iconfont.js"></script>
	<script src="https://cdn.bootcss.com/jquery/1.12.3/jquery.js"></script>
	<script src="/bootstraps/js/bootstrap.min.js"></script>
	<script src="/javascripts/underscore-min.js"></script>
	<script src='/javascripts/util.js'></script>
</head>
<body>
	<div class="xx-page-blog">
		<!-- 页头 -->
		<div class="xx-m-header container-fluid">
			<div class="xx-pc-hd row visible-sm-block visible-md-block visible-lg-block">
				<h2>我的blog</h2>
				<span>每天进步一点点</span>
			</div>
			<div class="xx-mb-hd visible-xs-block">
				<i class="iconfont" id="J_show_mbside">&#xe69a;</i>
				<h2>我的blog</h2>
			</div>
		</div>
		<!-- 面包屑 -->
		<div class="xx-u-bc">
			<ol class="breadcrumb">
			  	<li><a href="#">Home</a></li>
			  	<li><a href="#">Library</a></li>
			  	<li class="active">Data</li>
			</ol>
		</div>
		<!-- 主体内容 -->
		<div class="container-fluid xx-page-main">
			<!-- 左侧边栏 -->
			<div class="panel panel-default xx-m-sidemain hidden-xs col-sm-3 col-md-3">
			  	<div class="panel-heading">文章分类</div>
			  	<ul class="list-group">
			  		<li class="list-group-item"><a href="javascript:;">javascript</a>(n)</li>
					<li class="list-group-item"><a href="javascript:;">css3</a>(n)</li>
					<li class="list-group-item"><a href="javascript:;">vue</a>(n)</li>
			  	</ul>
			</div>
			<!-- 文章列表 -->
			<div class="xx-m-article col-xs-12 col-sm-9 col-md-9">
				<article>
					<a href="javascript:;" class="xx-u-ttpic" style="background-image: url(/images/titleImg/default.jpg);">
					</a>
					<div class="xx-m-txt">
						<h2><a href="javascript:;">文章标题</a></h2>
						<span><i class="iconfont"></i>发表于:</span>
						<p>文章简介...<a href="javascript:;">[阅读全文]</a></p>
					</div>
				</article>
				<hr>
				<article>
					<a href="javascript:;" class="xx-u-ttpic" style="background-image: url(/images/titleImg/default.jpg);">
					</a>
					<div class="xx-m-txt">
						<h2><a href="javascript:;">文章标题</a></h2>
						<span><i class="iconfont"></i>发表于:</span>
						<p>文章简介...<a href="javascript:;">[阅读全文]</a></p>
					</div>
				</article>
			</div>
		</div>
		<!-- mobile 侧边栏 -->
		<div class="xx-m-mobile-sidebar visible-xs-block container-fluid">
			<div class="xx-u-brief">
				<h2>我的blog</h2>
				<span>每天进步一点点</span>
			</div>
			<!-- 左侧边栏 -->
			<div class="panel panel-default">
			  	<div class="panel-heading">文章分类</div>
			  	<ul class="list-group">
			  		<li class="list-group-item"><a href="javascript:;">javascript</a>(n)</li>
					<li class="list-group-item"><a href="javascript:;">css3</a>(n)</li>
					<li class="list-group-item"><a href="javascript:;">vue</a>(n)</li>
			  	</ul>
			</div>
		</div>
		<!-- 遮罩 -->
		<div class="xx-u-mask" style="display: none;"></div>
		<% include ../footer%>
	</div>
	<script>
		$(function(){
			$('#J_show_mbside').click(function(){
				$('.xx-m-mobile-sidebar').css({'left':0});
				$('.xx-u-mask').show();
			});
			$('.xx-u-mask, .xx-m-mobile-sidebar').click(function(){
				$('.xx-m-mobile-sidebar').css({'left':'-60%'});
				$('.xx-u-mask').hide();
			});
		})
	</script>
</body>
</html>