<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/blog.css' />
	<link rel='stylesheet' href='https://cdn.bootcss.com/highlight.js/9.12.0/styles/tomorrow-night-eighties.min.css' />
	<script src='/javascripts/jquery.js'></script>
	<script src="/javascripts/underscore-min.js"></script>
	<script src='/javascripts/util.js'></script>
</head>
<body>
	<% include ./header%>
	<div class="bl-bd">
		<div class="m-ct-box">
			<ul class="m-ct m-detail" id="J_article">
				<div class="m-top">
					<div class="u-pic"></div>
					<div class="u-title">
						<h1>这是blog文章的标题</h1>
						<span>2017.06.09</span> /
						<span>javascript</span> /
						<span>xuxu</span>
					</div>
					<div class="u-read">0</div>
				</div>
				<div class="m-text">
					这里是正文
				</div>
				<!-- <div class="m-note">
					<p class="btn-prev">上一篇：<a href="javascript:;">html</a></p>
					<p class="btn-next">下一篇：<a href="javascript:;">css</a></p>
				</div> -->
			</ul>
			<% include ./sidebar%>
		</div>
	</div>
	<% include ./footer%>
	<script type="text/template" id="tpl_article">
		<div class="m-top">
			<div class="u-pic"></div>
			<div class="u-title">
				<h1><#= data.title#></h1>
				<span><#= Utils.timeFormat(data.time)#> /</span>
				<# if(data.tags){ #>
					<#for(var i = 0;i<data.tags.length;i++){#>
						<span><#= data.tags[i]+' /'#></span>
					<#}#>
				<#}#>
				<span>xuxu</span>
			</div>
			<div class="u-read"><#= data.pv#></div>
		</div>
		<div class="m-text">
			<#= data.text#>
		</div>
		<!-- <div class="m-note">
			<p class="btn-prev">上一篇：<a href="javascript:;">html</a></p>
			<p class="btn-next">下一篇：<a href="javascript:;">css</a></p>
		</div> -->
	</script>
	<script>
		$(function(){
			var id = Utils.getUrlquery('id');
			getDetail(id);
		});
		function getDetail(id){
			$.ajax({
				url:"/ajax/getArticle",
				type:"GET",
				dataType:"JSON",
				data:{aid:id},
				success:function(rslt){
					if(rslt.res_code==2){
						alert(rslt.res_msg);
						window.location.href="/blog";
					}else{
						var html = $('#tpl_article').html();//banner上的标展示
						_.templateSettings = {	//避免前端模板被ejs语法解析
							evaluate    : /<#([\s\S]+?)#>/g,
						    interpolate : /<#=([\s\S]+?)#>/g,
						    escape      : /<#-([\s\S]+?)#>/g
						};
						var template = _.template(html);
						var tpl = template({data:rslt.articleDetail});
						$('#J_article').html(tpl);
					}
				},
				error:function(rslt){}
			})
		};
	</script>
</body>
</html>