<div class="bl-hd">
	<div class="m-ctbox">
		<div class="u-logo">
			<a href="/blog"><img src="/images/xxLogo.png" alt=""></a>
		</div>
		<div class="u-sch">
			<input type="text" name='schWork' id="schWork">
			<button id="btn_sch">搜索</button>
		</div>
	</div>
</div>
<script>
	$('#btn_sch').on('click', function(){
		var schWord = $('#schWork').val();
		// schWord = schWord.replace(/select|update|delete|truncate|join|union|exec|insert|drop|count|script|%22|%3E|%3C|'|"|>|<|\\/gi, "_");
		window.location.href="/blog?schWord="+schWord
	});
</script>