<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/blog.css' />
	<script src='/javascripts/jquery.js'></script>
	<script src="/javascripts/underscore-min.js"></script>
	<script src='/javascripts/util.js'></script>
</head>
<body>
	<% include ./header%>
	<div class="bl-bd">
		<div class="m-ct-box">
			<ul class="m-ct m-index" id="J_articleList">
				<li>
					<div class="u-date">
						<p></p>
						<span></span>
					</div>
					<div class="u-article">
						<a href="javascript:;"></a>
						<div class="u-txt">
							<h2><a href="javascript:;"></a></h2>
							<div></div>
						</div>
					</div>
				</li>
			</ul>
			<% include ./sidebar%>
		</div>
		<div class="u-page">
			<button class="f-fl" id="btn-prev" data-page="1">Prev</button>
			<button class="f-fr" id="btn-next" data-page="2">Next</button>
		</div>
	</div>
	<% include ./footer%>
	<script type="text/template" id="tpl_articleList">
		<#var imgArr = ['css','css3','html5','javascript','node','gulp','vue','less','jquery'];#>
		<#for(var i = 0;i<data.length;i++){#>
			<li>
				<div class="u-date">
					<p><#= data[i].day #></p>
					<span><#= data[i].month #></span>
				</div>
				<div class="u-article">
					<a href="/blog/detail?id=<#=data[i].aid#>">
					<#if(imgArr.indexOf(data[i].tags[0])<=0){#>
						<img src="/images/titleImg/default.jpg" alt="">
					<#}else{#>
						<img src="/images/titleImg/<#=data[i].tags[0]#>.jpg" alt="">
					<#}#>
					</a>
					<div class="u-txt">
						<h2><a href="/blog/detail?id=<#=data[i].aid#>"><#= data[i].title #></a></h2>
						<div><#= data[i].brief #>...<a href="/blog/detail?id=<#=data[i].aid#>">[阅读全文]</a></div>
					</div>
				</div>
			</li>
		<#}#>
	</script>
	<!-- <script type="text/template" id="tpl_tags">
		<#for(var i = 0;i<data.length;i++){#>
			<span onclick="getList(1,'<#= data[i]#>');"><#= data[i]#></span>
			<a href="/blog?tag='<#= data[i]#>'"><#= data[i]#></a>
		<#}#>
	</script> -->
	<script>
		$(function(){
			var tag = Utils.getUrlquery('tag');
			var schWord = Utils.getUrlquery('schWord');
			if(tag){
				getList(1,tag);
			}else if(schWord){
				getList(1,schWord);
			}else{
				getList(1,'');
			}
		});
		//分页限制
		$('#btn-prev, #btn-next').on('click', function(){
			document.body.scrollTop = 0;
			getList($(this).attr('data-page'), $('#schWork').val());
			$(this).siblings().attr({'disabled':false});
		});
		//请求文章数据
		function getList(cur, sch){
			$.ajax({
				url:'/ajax/getList',
				type:'GET',
				dataType:'JSON',
				data:{curPage:cur,schWord:sch},
				success:function(rslt){
					if(rslt.res_code==2){
						//alert(rslt.res_msg);
						$('#J_articleList').html(rslt.res_msg);
						$('.u-page').html('');
					}else{
						//增加月日
						for(var i = 0;i<rslt.dataList.length;i++){
							rslt.dataList[i].day = timeStr(rslt.dataList[i].time).day
							rslt.dataList[i].month = timeStr(rslt.dataList[i].time).month
						}

						var html = $('#tpl_articleList').html();
						_.templateSettings = {	//避免前端模板被ejs语法解析
							evaluate    : /<#([\s\S]+?)#>/g,
						    interpolate : /<#=([\s\S]+?)#>/g,
						    escape      : /<#-([\s\S]+?)#>/g
						};
						var template = _.template(html);
						var tpl = template({data:rslt.dataList});
						
						$('#J_articleList').html(tpl);
						//分页信息
						if(rslt.page==1){
							$('#btn-prev').attr({'disabled':true});
						}else{
							$('#btn-prev').attr({'data-page':parseInt(rslt.page)-1});
						}
						if((rslt.page-1)*rslt.page_size+rslt.dataList.length==rslt.total){
							$('#btn-next').attr({'disabled':true});
						}else{
							$('#btn-next').attr({'data-page':parseInt(rslt.page)+1});
						}
					}
				},
				error:function(rslt){}
			})
		};
		//时间格式化
		function timeStr(val){
			var openDate = new Date();
			openDate.setTime(val*1000);
			var MM = openDate.getMonth()+1; //获取当前月份
			var DD = openDate.getDate(); // 获取系统日
			var month = null;
			switch(MM){
				case 1:month = 'Jan.';
					break;
				case 2:month = 'Feb.';
					break;
				case 3:month = 'Mar.';
					break;
				case 4:month = 'Apr.';
					break;
				case 5:month = 'May.';
					break;
				case 6:month = 'Jun.';
					break;
				case 7:month = 'Jul.';
					break;
				case 8:month = 'Aug.';
					break;
				case 9:month = 'Sep.';
					break;
				case 10:month = 'Oct.';
					break;
				case 11:month = 'Nov.';
					break;
				case 12:month = 'Dec.';
					break;
				default:break;
			}
			var obj = {
				day:DD,
				month:month
			}
			return obj;
		}
	</script>
</body>
</html>